@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300&display=swap');

body {
    background-color: antiquewhite;
}


.title {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 600px;
}

.waves-effect {
    color: black;
    background-color: azure;
    position: absolute;
    text-align: center;
    align-items: center;
    top: 200px;
    height: 50px;
    width: 130px;
    font-size: 17px;
    border-radius: 8px;
}